@import url(httos://fonts.googleapis.com/css?family=Playfair+Display:1,300,400,400italic, 500,700,700italic,980°);
:root{
    --main-color: #d7c7ae;
    --primary-color: ■#8a6d45；
    --hover: •#5a4d3e;
    --black: #2a201c;
    --white:#fff;
    --light-bg: _ #f3efec;
    --dark-bg: Orgba(0,0,0, -7);
    --border:.1rem solid
    2 #aags
    --box-shadow:® -rem 1rem Orgba(0,0,0, -1);
}

html{
    font-size: 67.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
   }
   html::-webkit-scrollbar{
    width: .6rem;
   }
   html::-webkit-scrollbar-track{
    background-color: var(--white);
   }
   html::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
   }
   section{
    padding: 5rem 7%;
   }

   *::selection{
    background: #eb4d4b;
    color: #fff;
}
*{
        font-family: 'Playfair Display', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: none;
        border: none;
        text-decoration: none;
        transition: all .2s linear;
}

/*Navbar*/
 
ul{
    list-style: none;
    padding:0;
    margin: 0 0 0 150px;
}
 
li{
    float: right;
}
 
nav a{
   
    display: block;
    padding: 20px 15px;
    overflow: hidden;
    width: 100px;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 14px;
   
}

.logo{
    position:absolute;
    margin-top: 0px;
}

/*welcome secton*/
.Welcome-image{}
   
 
.welcome-h{
    font-size: 8rem !important;
    color:#bda18c;
    margin-top: -25rem;
    margin-left: 8rem;
    
}

.image-W{
    text-align: center;
    margin-top: -8%;
    padding: 10px;
    padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-left: 10px;
}

 
/*About*/
.Home-aboutUs{
    height: 50rem;
}
.Aboutus-heading{
    text-align: center;
    padding-top: 5rem;
    text-transform: uppercase;
    margin-top: 0rem;
}
 
.aboutus-image{
    padding-left:1rem ;
    margin-top: 2rem;
    border-radius: 30rem;
}
 
.side-summary{
    padding-left: 30rem;
    width: 60rem;
    margin-top: -19rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif!important;
}
 
.span{
    color:rgb(44, 26, 4);
    font-family: italic !important;
    font-weight: bold !important;
}
 
.aboutlink{
    color: rgb(44, 26, 4);
   
}
 
figcaption{
    padding-left: 10rem;
}
/*Service*/
.Home-service{
    background-color: #ebcbb0;
}
.services-heading{
    text-align: center;
    padding-top: 3rem;
    text-transform: uppercase;
 
}
 
.d-services{
    text-align: center;
    padding-bottom: 2rem;
}
 
.service-Images{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}
 
.image-Services:hover{
    zoom: 1.2;
}
 
.image-Services{
   padding-left: 1rem;
   padding-bottom: 2rem;
   display: inline-block;
}
 

/*Contacy Us Link*/
 
 .contactUs{
    padding: 1rem 0% !important;
}
.contactup-P{
    padding-top: 0.5rem !important; 
    text-align: center;
    }
     
    .contactUs-b{
        background-color: #bda18c;
        padding: 10px;
        border: none;
        border-radius: 3rem;
    }
     
    .contactUs-b:hover{
        color: rgb(253, 253, 253);
    }
/*footer*/
.main-footer{
    display: flex;
    padding: 10px 5px;
    width: 100%;
    margin-bottom: 2rem;
    background-color: #e6dcd3;
    background-size: cover;
    font-size: 14px;
}
 
.footer-ContactUs{
    margin-left: 30%;
    margin-right: 60px;
}
 
a{
    text-decoration: none;
}
.address{
    margin-left: 20px;
    margin-right: 60px;
}
 
 
 
.physicaladdress1{
 
   margin-left: 23px;
}
 
.openning-hours{
    padding-right: 30px;
    margin-left: 20px;
    margin-right: 60px;
}
 
.copywrite{
    text-align: center;
    margin-bottom: -3px;
    margin-top: -1px;
}

