.w3-tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}
.pictures-section.heading1.video-container video {
    background-color: #f2f2f2; /* Add background color for clarity */
    padding: 50px; /* Add padding for spacing */
    margin-bottom: 20px; /* Add margin to separate from other sections */
    margin-bottom: auto;
}

